body {
    background-color: tomato;
}

.head {
    color: darkblue;
}

h2 {
    font-size: 40px;
}

#bglime {
    background-color: lime;
}

p {
    color: white;
}

#para {
    color: green;
}

ul {
    color: white;
}